@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: aquamarine;
}


*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black; 
    height: 4rem;
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    color: white;
    list-style-type: none;
    }

nav ul li{
    padding: 0 12px;
}    

.brand img{
    width: 50px;
    border-radius: 50%;
    height: 50px;
    margin: 7px;

}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    padding-right: 3rem;
}
.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 10px auto;
    width: 75%;
    border-radius: 15px;
    padding: 35px;
    background-image: url('background.jpg');

}

.songItem{
    background-color: white;
    color: maroon;
    border-radius: 25px;
    width: 35vw;
    height: 2rem;
    margin: 12px 0;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
}
.timeStamp{
    display: flex;
    padding: 20px;
    
}
.timeStamp i{
    margin-left: 40px;
}


 


.bottom{
    position: sticky;
    height: 130px;
    background-color:#142d4c;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.icons{
    margin: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;

}








.bottomNav{
    height: 20rem;
    display: flex;

    font-family: 'Varela Round', sans-serif;
}
.bottomBrand img{
    width: 70px;
    border-radius: 42%;
    height: 70px;
    margin-left: 100px;
    margin-top: 20px;
}
